.chart {
  // Easy to use layouting system

  // display: grid;
  // grid-template-areas: 
  //   'top top top top'
  //   'left chart chart right'
  //   'left chart chart right'
  //   'left chart chart right'
  //   'bottom bottom bottom bottom';
  // grid-template-columns: .2fr repeat(2, 2.5fr) .5fr;
  // grid-template-rows: .5fr repeat(3, 1fr) auto;
  font-size: 2rem;
  width: 100%;
  height: 100%;

  &__area {
    // grid-area: chart
  }

  &__axis {
    &--x {
      // grid-area: bottom;
    }
    &--y {
      // grid-area: left
    }
  }
}